@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}


:root {
  --primary: #405BE6;
  --secondary: #61B1FF;
  --warning: #F7BA21;
  --warning-light: #FCE5C0;
  --danger: #E45689;
  --dangerlight: #ffb5d0;
  --success: #47B889;
  --success-light: #EBF8F2;
  --background: #F9FBFD;
  --highlight: #E9EFFA;
  --text: #263444;
  --white: #ffffff;
  --nav-highlight: #E9EFFB;
  --purple: #3D56E8;
  --purplelight: #6078ff;
  --rounded-10: 10px;
}

.justify-between {
  justify-content: space-between;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.zenda-button {
  all: unset;
  position: relative;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  background-color: var(--purple);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: var(--rounded-10);
  cursor: pointer;
  touch-action: manipulation;
  height: fit-content;
  width: fit-content;
  transition: all ease-in 216ms;
}

.zenda-button:hover {
  background-color: var(--purplelight);
}

/*--- Calendar ---*/
ul,
li,
td {
  all: unset;
}

td {
  display: flex;
}

.App {
  font-family: sans-serif;
  display: flex;
  align-items: flex-start;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.cal-container {
  width: calc(100vw - var(--sidebar-width));
  height: 100vh;

  overflow-y: scroll;
}

.vertical-grid-container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;

  margin-left: 100px;
  left: 100px;


  position: sticky;
}

.drop-grid-container {
  display: flex;
  flex-direction: column;
  min-width: var(--drop-area-width);


  overflow-y: scroll;
}

.grid-item {
  position: relative;
  border-right: 1px solid var(--grid-color);
  padding: 5px;
  box-sizing: border-box;
  text-align: center;
  flex-grow: 1;
}

.drop-item {
  border-right: 1px solid #eee;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  flex-grow: 1;
  z-index: 1;

  height: 40px;
}

.ticker {
  position: absolute;
  left: 0px;
  top: 0px;
  width: calc(100vw - 450px);
  height: 1px;
  background: #d9dce0;
}

.hour-marker {
  position: absolute;
  top: -8px;
  left: -60px;
  font-family: monospace;
  font-weight: 200;
  color: #767b7f;
}

.half-hour-marker {
  position: absolute;
  top: -8px;
  left: -20px;
  font-size: 0.8em;
  color: #767b7f;
}

.dropbox {
  width: 100%;
  height: 100%;
  color: #444;
}

.time-tracker {
  position: absolute;
  pointer-events: none;
  overflow: visible;
}

.ball {
  position: absolute;
  top: -3px;
  left: 0px;
  z-index: 900;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: red;
  z-index: 507;
}
.ball-line {
  position: absolute;

  pointer-events: none;
  z-index: 507;

  left: 10px;
  width: 120px;
  border: 1px solid red;
}
.center {
  align-items: center;
}

.col {
  flex-direction: column;
}
hr {
  width: 40px;
  height: 4px;
  border: none;
  border-radius: 4px;
  background: var(--grid-color);
}
.timer {
  position: absolute;
  top: -12px;
  left: 12px;
  padding: 2px 4px;
  z-index: 900;
  font-size: 10px;
  width: 50px;
  color: #444;

  border-radius: 4px;
}